@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
* {
    font-family: "Jost", sans-serif;
}

.container{
	max-width: 1180px;
	margin: 0px auto;
}

header {
    margin-top: 30px;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-size: 35px;
    font-weight: 600;
}

.header__nav_items {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__nav_item {
    font-size: 25px;
    font-weight: 300;
    transition: all 0.2s linear;
}

.header__nav_item:hover {
    color: #888383;
    text-decoration: underline;
    transition: all 0.2s linear;
}

.header__img {
    margin-top: 80px;
    text-align: center;
}

.header__button {
    background-color: #8C9FE3;
    border-radius: 10px;
    font-weight: 400;
    font-size: 23px;
    padding: 10px;
    color: white;
    transition: all 0.2s linear;
}

.header__button:hover {
    background-color: #7788c7;
    text-decoration: underline;
    color: rgb(228, 227, 227);
    transition: all 0.2s linear;
}



.products {
    margin-top: 100px;
}

.products__title {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.product_description {
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 15px;
}
.products__container {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    margin-top: 50px;
}

.products__item {
    border: #76767680 1px solid;
    border-radius: 50px;
    padding: 30px;
    text-align: center;
}

.product_title {
    font-weight: 500;
    font-size: 26px;
    margin-top: 15px;
}

.product_describtion {
    color: #636363;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 400;
}

.prices {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 10px;
}

.new_price {
    font-weight: 500;
    font-size: 26px;
    color: #3E68FF;
}

.old_price {
    font-weight: 300;
    font-size: 26px;
    color: #282828;
    text-decoration: line-through;
}

.product_order_button {
    background-color: #9EB4FF;
    color: white;
    font-size: 21px;
    font-weight: 400;
    padding: 2px 70px;
    border-radius: 10px;
    margin-top: 15px;
    transition: all 0.2s linear;
}
.product_order_button:hover {
    background-color: #7788c7;
    text-decoration: underline;
    color: rgb(228, 227, 227);
    transition: all 0.2s linear;
}

.client_review {
    margin-top: 100px;
    text-align: center;
}

.review {
    font-weight: 600;
    font-size: 35px;
}

.review_logo {
    margin-top: 20px;
    width: 80px;
}

.reviewer_name {
    font-weight: 300;
    font-size: 24px;
    margin-top: 15px;
}
.reviwer_job {
    color: #545454;
    font-weight: 300;
    font-size: 20px;
    margin-top: 5px;
}
.carusel_container {
    display: flex;
    gap: 30px;
    align-items: center;
    min-height: 250px;
    
}

.reviwer_review {
    font-weight: 300;
    font-size: 24px;
}

.first_review {
    width: 35px;
    height: 6px;
    background-color: #9EB4FF;
    user-select: none;
}
.second_review {
    width: 35px;
    height: 6px;
    background-color: #DBDBDB;
    user-select: none;
}

.carusel_buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.car_button {
    padding: 25px;
    border-radius: 180px;
    box-shadow:
    0 0 0 0px rgb(255, 255, 255),
    0em 0em 0.9em rgba(0, 0, 0, 0.3);

}

.form {
    text-align: center;
}

.form__title {
    font-weight: 600;
    font-size: 35px;
    margin-top: 100px;
}

.form__text {
    font-weight: 300;
    font-size: 28px;
    margin-top: 20px;
}

.form_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.form_input {
    margin-top: 27px;
    font-weight: 300;
    font-size: 28px;
    display: block;
    min-width: 585px;
    margin-left: 55px;
    border: 1px solid #BABABA;
    border-radius: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
}

.form_button {
    margin-top: 47px;
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 21px;
    color: white;
    background-color: #9EB4FF;
    padding: 3px 58px;
    border-radius: 10px;
}

.form_button:hover {
    background-color: #7788c7;
    text-decoration: underline;
    color: rgb(228, 227, 227);
    transition: all 0.2s linear;
}
.main_form {
    border: 1px solid #76767680;
    border-radius: 50px;
    min-width: 700px;
    text-align: center;
}

.contacts {
    text-align: center;
}

.contacts__title {
    font-weight: 600;
    font-size: 35px;
    margin-top: 100px;
}

.contacts__information {
    margin-top: 20px;
    font-weight: 300;
    font-size: 28px;
}

.map {
    margin-top: 50px;
    max-width: 100%;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.footer__title {
    font-weight: 600;
    font-size: 35px;
}

.footer_navbar_item {
    font-weight: 300;
    font-size: 25px;
    margin-top: 10px;
    transition: all 0.2s linear;
}

.footer_navbar_item:hover {
    color: #888383;
    text-decoration: underline;
    transition: all 0.2s linear;
}
.footer_navbar_item:first-child {
    margin-top: 0;
}

.footer_contact > a {
    font-weight: 400;
    font-size: 25px;
    color: #3E68FF;
}
.footer_contact {
    margin-top: 20px;
}
.footer_contact:first-child {
    margin-top: 0;
}

.footer_logos {
    display: flex;
}


@media screen and (max-width:1024px) {
    .header__nav_items{
        gap: 10px;
    }
    .header__title {
        font-size: 30px;
    }
    .header__nav {
        gap: 30px;
        justify-content: center;
    }
    .header__img>img {
        max-width: 900px;
    }
    .products__container {
        flex-direction: column;
        align-items: center;
    }
    .products__item {
        max-width: 40%;
    }
    #button_back {
        margin-left: 10px;
    }
    #button_forward{
        margin-right: 10px;
    }
}


@media screen and (max-width:768px) {
    .header__img>img{
        max-width: 600px;
    }
    .header__title {
        font-size: 23px;
        margin-left: 10px;
    }
    .header__button {
        padding: 1px;
        margin-right: 10px;
    }
    .products__item {
        max-width: 60%;
    }
    #button_back {
        margin-left: 10px;
    }
    #button_forward{
        margin-right: 10px;
    }
    .footer_navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 40px 0;
    }
}

@media screen and (max-width:425px) {
    .header__nav {
        flex-direction: column;
        align-items: center;
    }
    
    .header__button {
        padding: 8px 5px;
    }
    .header__nav_items {
        flex-direction: column;
    }

    .header__img>img {
        max-width: 350px;
    }
    .products__item {
        max-width: 80%;
    }
    .product_img {
        max-width: 350px;
    }
    .reviwer_review {
        margin-top: 30px;
    }
    .form_input {
        /* max-width: 500px; */
        min-width: 300px;
        margin: 15px 15px;
        font-size: 16px;
    }
    .form_button {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .main_form {
        min-width: 60%;
    }

    footer {
        flex-direction: column;
    }
}

@media screen and (max-width:375px) {
    .product_img {
        max-width: 250px;
    }
    .reviwer_review{
        font-size: 15px;
        height: 320px;
    }
    .car_button {
        padding: 10px;
    }
}


@media screen and (max-width:320px) {
    .header__nav_items{
        flex-direction: column;
    }
    .header__img>img{
        max-width: 250px;
    }
    .products {
        margin-top: 60px;
    }
    .product_img {
        max-width: 200px;
    }
    .product_order_button {
        padding: 5px 40px;
    }
    .form_input {
        min-width:200px;
        padding: 12px 0 12px 10px;
    }
    #text {
        font-size: 10px;
        text-align: left;
    }
}